.hidden { display: none; }

$main-bg-color:white;
$main-color: black;

$main-font-face: 'arial', 'helvetica', sans-serif;
$main-font-size: 1.2rem;

$heading-color: rgba(255, 255, 255, 0.5);

// quick reset
* {
    border: none;
}